# Pandas Alıştırmaları

In [17]:
import seaborn as sns
import pandas as pd
df = sns.load_dataset("tips")

### Bir DataFrame'in satır ve sütun sayısını nasıl bulabilirsiniz ?

In [3]:
df.shape

(244, 7)

### Bir DataFrame'deki belirli bir sütunu nasıl seçersiniz ?

In [4]:
df["tip"]

0      1.01
1      1.66
2      3.50
3      3.31
4      3.61
       ...
239    5.92
240    2.00
241    2.00
242    1.75
243    3.00
Name: tip, Length: 244, dtype: float64

### Bir DataFrame'deki belirli bir satırı nasıl seçersiniz ? (15.satir)

In [9]:
df.iloc[15]

total_bill     21.58
tip             3.92
sex             Male
smoker            No
day              Sun
time          Dinner
size               2
Name: 15, dtype: object

### Bir DataFrame'deki belirli bir satırın belirli bir sütunundaki değeri nasıl seçersiniz ? (72.satir, columns=day)

In [11]:
df["day"].iloc[72]

'Sat'

In [12]:
df.iloc[72]["day"]

'Sat'

### Bir DataFrame'deki tüm sütunların adlarını nasıl alırsınız ?

In [13]:
df.columns

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

### Bir DataFrame'deki tüm sütunların veri tiplerini nasıl alırsınız ?

In [14]:
df.dtypes

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
dtype: object

### Bir DataFrame'deki tüm satırların bir sütunundaki tekil değerleri nasıl alırsınız ?

In [54]:
df["size"].unique()

array([2, 3, 4, 1, 6, 5], dtype=int64)

### Bir DataFrame'deki belirli bir sütundaki tüm değerlerin ortalamasını nasıl hesaplayabilirsiniz ?

In [31]:
df["tip"].mean()

2.9982786885245902

### Bir DataFrame'deki belirli bir sütundaki tüm değerlerin standart sapmasını nasıl hesaplayabilirsiniz ?

In [34]:
df["total_bill"].std()

8.902411954856856

### Bir DataFrame'deki belirli bir sütunun en büyük değerini nasıl bulabilirsiniz ? (total_tip icin yapiniz)

In [35]:
df["total_bill"].max()

50.81

### Bir DataFrame'deki belirli bir sütunun en küçük değerini nasıl bulabilirsiniz ? (tip sutunu icin yapiniz)

In [36]:
df["tip"].min()

1.0

### Bir DataFrame'deki belirli bir sütundaki değerlerin sayısını nasıl hesaplayabilirsiniz ?

In [51]:
df["day"].count()

244

### Bir DataFrame'deki belirli bir sütunun medyanını nasıl hesaplayabilirsiniz ?

In [41]:
df["total_bill"].median()

17.795

### Bir DataFrame'deki belirli bir sütundaki en sık tekrar eden değeri nasıl bulabilirsiniz ?

In [44]:
df["sex"].mode()

0    Male
Name: sex, dtype: category
Categories (2, object): ['Male', 'Female']

### Bir DataFrame'deki belirli bir sütunu küçükten büyüğe nasıl sıralayabilirsiniz ?

In [46]:
df["total_bill"].sort_values()

67      3.07
92      5.75
111     7.25
172     7.25
149     7.51
       ...
182    45.35
156    48.17
59     48.27
212    48.33
170    50.81
Name: total_bill, Length: 244, dtype: float64

### Bir DataFrame'deki belirli bir sütunu büyükten küçüğe nasıl sıralayabilirsiniz ?

In [47]:
df["total_bill"].sort_values(ascending = False)

170    50.81
212    48.33
59     48.27
156    48.17
182    45.35
       ...
149     7.51
111     7.25
172     7.25
92      5.75
67      3.07
Name: total_bill, Length: 244, dtype: float64

### Bir DataFrame'deki belirli bir sütunda belirli bir koşulu sağlayan değerleri nasıl seçebilirsiniz ? (tip>2 icin sorgulayin)

In [48]:
df[df["tip"] > 2]

     total_bill   tip     sex smoker   day    time  size
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
5         25.29  4.71    Male     No   Sun  Dinner     4
7         26.88  3.12    Male     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
232       11.61  3.39    Male     No   Sat  Dinner     2
234       15.53  3.00    Male    Yes   Sat  Dinner     2
238       35.83  4.67  Female     No   Sat  Dinner     3
239       29.03  5.92    Male     No   Sat  Dinner     3
243       18.78  3.00  Female     No  Thur  Dinner     2

[166 rows x 7 columns]

In [49]:
df[df["tip"] > 2]["tip"]

2      3.50
3      3.31
4      3.61
5      4.71
7      3.12
       ...
232    3.39
234    3.00
238    4.67
239    5.92
243    3.00
Name: tip, Length: 166, dtype: float64